page-hotel-detail-modal {

.greenColor{
        color: green;
    }
    .darkgreenColor{
        color: darkgreen;
    }
    .orangeColor{
        color: orange;
    }
    .redColor{
        color: red;
    }
}
