<!--
  Generated template for the my trips page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-icon name="train"></ion-icon>
      My Trips
    </ion-title>
    <!-- <ion-icon name="person"></ion-icon> -->
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="trips">
      <ion-segment-button value="booked">
        Booked
      </ion-segment-button>
      <ion-segment-button value="saved">
        Saved
      </ion-segment-button>
      <ion-segment-button value="recentlyViewed">
        Recently Viewed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="trips">
    <div *ngSwitchCase="'booked'">
      <!-- <ion-item> -->
      <p *ngIf="myTrips.length === 0">
        You haven't booked any trips.<br> Explore some trips we have to offer in the Discovery page.
      </p>

      <div *ngIf="myTrips.length !== 0">
        <ion-list>
          <ion-item *ngFor="let trip of myTrips">
            <h2>Stay at {{ trip.hotel.hn }}</h2>
            <!-- <p>{{ trip.flight.startDate }} - {{ trip.flight.endDate }}</p> -->
            <button ion-button clear item-end (click)="viewDetail(trip)">View</button>
          </ion-item>
        </ion-list>
      </div>
      <!-- </ion-item> -->
    </div>
    <div *ngSwitchCase="'saved'">
      <!-- <ion-item> -->
      <p *ngIf="bookmarkedTrips.length === 0">
        You haven't saved any trips.
      </p>

      <div *ngIf="bookmarkedTrips.length !== 0">
        <ion-list>
          <ion-item *ngFor="let trip of bookmarkedTrips">
            <h2>Stay at {{ trip.hotel.hn }}</h2>
            <!-- <p>{{ trip.flight.startDate }} - {{ trip.flight.endDate }}</p> -->
            <button ion-button clear item-end (click)="viewDetail(trip)">View</button>
          </ion-item>
        </ion-list>
      </div>
      <!-- </ion-item> -->
    </div>
    <div *ngSwitchCase="'recentlyViewed'">
      <!-- <ion-item> -->
      <p *ngIf="recentlyViewedTrips.length === 0">
        You haven't viewed any trips yet.<br> Go to the Discovery page to find a trip that matches your needs.
      </p>

      <div *ngIf="recentlyViewedTrips.length !== 0">
        <ion-list>
          <ion-item *ngFor="let trip of recentlyViewedTrips">
            <h2>Stay at {{ trip.hotel.hn }}</h2>
            <!-- <p>{{ trip.flight.startDate }} - {{ trip.flight.endDate }}</p> -->
            <button ion-button clear item-end (click)="viewDetail(trip)">View</button>
          </ion-item>
        </ion-list>
      </div>
      <!-- </ion-item> -->
    </div>
  </div>
</ion-content>
