<!--
  Generated template for the SearchCriteriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <ion-icon name="search"></ion-icon>
      Plan your next adventure!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Origin</ion-label>
      <!-- <ion-input type="text" style="color: blue"></ion-input> -->
      <ion-input [(ngModel)]="criteria.origin.city" (ngModelChange)="fetchSuggestions(criteria.origin.city, 'origin')" color="link"></ion-input>
    </ion-item>

    <ion-list>
      <button ion-item *ngFor="let suggestion of originSuggestions" (click)="addDestination(suggestion, 'origin', $event)">{{ suggestion.description }}</button>
    </ion-list>

    <ion-item>
      <ion-label floating>Destination</ion-label>
      <!-- <ion-input type="text" style="color: blue"></ion-input> -->
      <ion-input [(ngModel)]="criteria.destination.city" (ngModelChange)="fetchSuggestions(criteria.destination.city, 'destination')" color="link"></ion-input>
    </ion-item>

    <ion-list>
      <button ion-item *ngFor="let suggestion of destinationSuggestions" (click)="addDestination(suggestion, 'destination', $event)">{{ suggestion.description }}</button>
    </ion-list>

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" style="color: blue" [(ngModel)]="criteria.startDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" style="color: blue" [(ngModel)]="criteria.endDate"></ion-datetime>
      <!-- [(ngModel)]="event.month" -->
    </ion-item>

    <ion-item>
      <ion-label>Budget Range</ion-label>
      <ion-range dualKnobs="true" [(ngModel)]="budgetLimit" min="5000" max="500000" step="100" pin="true">
        <ion-label range-left>1000</ion-label>
        <ion-label range-right>500000</ion-label>
      </ion-range>
    </ion-item>

    <div style="text-align: center; font-size: 12px; color: blue">
      <ion-label>{{budgetLimit.lower}} to {{budgetLimit.upper}}</ion-label>
    </div>

    <ion-label style="font-size: 16px; padding-left: 16px;">Hotel Preferences</ion-label>
    <ion-item>Star Rating
      <div style="display: flex; padding-top: 20px;">
        <button [ngClass]="{'activated': this.starRating[0], 'star-rating-button': this.starRating[0]}" ion-button outline color="link" 
          style="flex: 1; height: 25px; margin-left: 10px; margin-right: 10px;" (click)="addSelectedRating(1, one)">
          <label style="font-size: 1.2em">1</label>
          <ion-icon name="star"></ion-icon>
        </button>
        <button [ngClass]="{'activated': this.starRating[1], 'star-rating-button': !this.starRating[1]}" ion-button outline color="link" 
          style="flex: 1; height: 25px; margin-left: 10px; margin-right: 10px;" (click)="addSelectedRating(2, two)">
          <label style="font-size: 1.2em">2</label>
          <ion-icon name="star"></ion-icon>
        </button>
        <button [ngClass]="{'activated': this.starRating[2], 'star-rating-button': !this.starRating[2]}" ion-button outline color="link" 
          style="flex: 1; height: 25px; margin-left: 10px; margin-right: 10px;" (click)="addSelectedRating(3, three)">
          <label style="font-size: 1.2em">3</label>
          <ion-icon name="star"></ion-icon>
        </button>
        <button class="star-rating-button" [ngClass]="{'activated': this.starRating[3], 'star-rating-button': !this.starRating[3]}" ion-button outline color="link" 
          style="flex: 1; height: 25px; margin-left: 10px; margin-right: 10px;" (click)="addSelectedRating(4, four)">
          <label style="font-size: 1.2em">4</label>
          <ion-icon name="star"></ion-icon>
        </button>
        <button [ngClass]= "{'activated' : five}" ion-button outline color="link" 
          style="flex: 1; height: 25px; margin-left: 10px; margin-right: 10px;" (click)="toggle()">
          <label style="font-size: 1.2em">5</label>
          <ion-icon name="star"></ion-icon>
        </button>
        {{five}}
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Number of Rooms</ion-label>
      <ion-select [(ngModel)]="criteria.hotelInformation.numberOfRooms" interface="popover" style="color: blue">
        <ion-option *ngFor="let num of noOfRooms" value={{num}}>{{num}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Number of Guests</ion-label>
      <ion-select [(ngModel)]="criteria.hotelInformation.numberOfGuests" interface="popover" style="color: blue">
        <ion-option *ngFor="let num of noOfGuests" value={{num}}>{{num}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button round color="secondary" (click)="discoverTrip()">Surprise Me!</button>
  </ion-list>
</ion-content>
