page-hotel-list {

    .greenBackground{
        background: green;
        color: white;
    }
    .darkgreenBackground{
        background: darkgreen;
        color: white;
    }
    .orangeBackground{
        background: orange;
        color: white;
    }
    .redBackground{
        background: red;
        color: white;
    }
}
